<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ol.css">
    <link rel="stylesheet" href="css/default.css">
    <title>Cartographie du bruit aérien</title>
</head>

<body>

    <div class="container">
        <div class="card border-0 shadow my-5" style="background-color: rgba(245, 245, 245, 0.9);">
            <div class="card-body p-5">
                <h2 class="font-weight-light"> Cartographie du bruit aérien</h2>
                <div id="app">
                    <div>
                        <p>
                            Latitude: <input v-model="lat" v-on:keyup.enter="compute" placeholder="Latitude" size="8">
                            Longitude: <input v-model="lon" v-on:keyup.enter="compute" placeholder="Longitude" size="8">
                        </p>
                        <p>
                            Distance maximale (en km): <input v-model="distanceMax" v-on:keyup.enter="compute" size="3">
                            <button v-on:click="compute">Calculer</button>
                        </p>
                        <div class="card-block special-card" style="background-color: rgba(245, 245, 245, 1);">
                            <div id="map" style="background-color: rgba(245, 245, 245, 1);"></div>
                        </div>
                    </div>
                    <div>
                        <h2 class="font-weight-light"> {{ status }}</h2>
                        <ul>
                            <li v-for="airportMatching in airportsMatching">
                                {{ airportMatching }}
                            </li>
                        </ul>
                    </div>
                </div>
                <script src="js/index.js"></script>
                <script src="js/latlon.js"></script>
                <script src="js/ol.js"></script>
                <script src="js/map.js"></script>
            </div>
        </div>
    </div>
</body>

</html>
