body {
    /* Background image centered. */
    background: url("../img/beluga.jpg") no-repeat center center fixed;
    /* make it fully compatible with webkit based engine */
    -webkit-background-size: cover;
    /* make it fully compatible with mozilla/gecko based engine */
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.warn {
    /* warning message in blue and medium size */
    color: #2a5199;
    font-size: 30px;
}

.semiTransparent {
    /* set a 90% opaque style. */
    opacity: .90;
    /* make it fully compatible with mozilla/gecko based engine */
    -moz-opacity: .90;
    filter: alpha(opacity=90);
}

.special-card {
    /* create a custom class so you 
   do not run into specificity issues 
   against bootstraps styles
   which tends to work better than using !important 
   (future you will thank you later)*/

    background-color: rgba(245, 245, 245, 1);
    opacity: 1;
}
